body {
    margin: 0;
    padding: 0;
    background-color: #727272;
}

.app {
    display: grid;
    grid-template-columns: 640px 640px 640px;
    grid-template-rows: 474px 473px;
    user-select: none; 
}

.resizerBox {
    display: grid;
    overflow: hidden;
    position: relative;
}

.leftResizer {
     cursor: e-resize;
     background-color: red;
}

.bottomResizer {
    cursor: n-resize;
    background-color: red;
}

.diagonalResizer {
    cursor: nw-resize;
    background-color: red;
}

.multiplayer {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: green;
}

.scrollerOuter {
    background-color: rgb(91, 91, 91);
    border-radius: 10px;
}

.scrollerHandler {
    background-color: rgb(140, 140, 140);
    border-radius: 10px;
    cursor: pointer;
}